.header-name {
  font-family: 'Cormorant';
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EAE9E8;
}

.brand-name {
  font-family: 'Cormorant';
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EAE9E8;
}

.brand-link {
  font-family: 'Avenir';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #EAE9E8;
  text-decoration: none;
}