.header {
  padding: 0 50px;
  display: flex;
  font-family: 'Avenir';
  font-style: normal;
  .logo {
    padding-top: 22px;
  }
  .menu {
    width: 520px;
    display: flex;
    padding: 19px 0 0 281px;
    justify-content: space-evenly;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0F303F;
  }
  input {
    width: 150px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    outline: none;
  }
  .language {
    margin-left: 109px;
    width: 152px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #0F303F;
  }
  .userIcons {
    margin-left: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91px;
  }
}






