.carousel-header {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #0F303F;
}
.carousel-item-wrapper {
  color: #0F303F;
  font-family: 'Jost';
  font-weight: 500;
  .item-name {
    text-transform: uppercase;
  }
  .item-descr {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
  }
  .item-price {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #FD5454;
    span {
      font-size: 14px;
      letter-spacing: 0.045em;
      text-transform: uppercase;
      color: #CECECE;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }
  }
}