.wrapper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-transform: uppercase;
  line-height: 24px;
  color: #0F303F;
  font-family: 'Lato';
}
.header-name {
  font-family: 'Cormorant';
  font-size: 20px;
}

.brand-name {
  font-family: 'Cormorant';
  font-size: 28px;
}

.brand-link {
  font-size: 16px;
  letter-spacing: 0.045em;
  color: #E64926;
  text-decoration: none;
  font-family: 'Lato';
}

.first-slide {
  background-image: url('../../../img/background/slide1.png');
  justify-content: space-around;
  align-items: center;
  .header-name, .brand-name, .brand-link {
    color: #EAE9E8;
  }
}

.second-slide {
  background-image: url('../../../img/background/slide2.png');
}

.third-slide {
  background-image: url('../../../img/background/slide3.png');
  .brand-link {
    margin-left: 25px;
  }
}

.fourth-slide {
  background-image: url('../../../img/background/slide4.png');
}